// Typography
$elc-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Width rules
$max-width: 1920px;

// Media queries
$landscape-up: 1024px;

// Colors
$color-black: #1a1a1a;
$color-white: #fff;
$color-gray: #e6e6e6;
$color-light-gray: #fafafa;
$color-dark-gray: #999999;

// Spacing
$spacing-xl: 3rem;
$spacing-lg: 2rem;
$spacing-md: 1rem;
$spacing-sm: 0.5rem;
$spacing-xs: 0.2rem;
